
.advice-container{
    background-color: rgb(211, 209, 255);
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;    
    min-width: 50%;
    max-width: 70%;
    min-height: 25%;
    max-height: 85%;
}
.form-holder{
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
}
